[Desktop Entry]
Name=OpenReport MetaSQL editor
GenericName=OpenReport MetaSQL editor
Comment=WRite SQL Queries for OpenReports
Exec=metasql
Icon=/usr/share/icons/default/OpenReports.ico
MimeType=application/x-designer;
Terminal=false
Type=Application
Categories=Development;
X-Desktop-File-Install-Version=0.23

